body {
background: url(images/strangerthings.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

p {
    text-indent: 30px;
    color: #930600;
    font-style: italic;
}

h3 {
    word-wrap: break-word;
}

.panel-transparent {
        background: none;
    }

    .panel-transparent .panel-heading{
        background: rgba(122, 130, 136, 0.2)!important;
    }

    .panel-transparent .panel-body{
        background: rgba(46, 51, 56, .6)!important;
    }